body{
    font-weight: 100%; 
}

.menu_nave{
    margin-left: -50px;
    justify-content: space-between;
}

.menu_nave a{
    
    text-decoration: none;
    color:rgb(15, 20, 25);
    font-weight: 500;
}

.elemento li{
    color: black;
    font-weight: 500;
    list-style-type: none;
}

#info_perfil img{
    margin-top: 10px;
    height: 175px;
    width: 175px;
    display: flex;
}

#botao{
    float: right;
}

#status{/*informações do perfil*/
    color: rgb(15, 20, 25);
    font-size: 20px;
}

.sem_ponto{/*tira os pntos das listas*/
    list-style-type: none;
}

.referencias img{
    width: 10px;
    height: 10px;
}

.referencias{/*lista não ordnada do perfil*/
    color: rgb(83, 100, 113);
}

.referencias li{/*itens da lista*/
    display: inline-flex;
}

li > span{
    color:black;
    font-weight: bold;
}

.interagir{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.interagir a{
    color: currentColor;
    color: black;
    text-decoration: none
}

.interagir2 a:hover{
    color:rgb(83, 100, 113)
}

.interagir a:hover{
    color: black;
    background-color: rgba(15, 25, 20, 0.1);
}

.interagir p{
    font-weight: 450;
}

.postar span{
    color: rgb(83, 100, 113);
}

.perfils{
    width: 75%;
    height: 75%;
    border-radius: 100%;
}

